# Copyright 2018 Tymoteusz Blazejczyk
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Git files
*.orig

# Prerequisites
*.d

# Compiled Object files
*.o
*.x
*.lo
*.obj
*.slo
*.objdump

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.a
*.la
*.lai
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Vim
*.swp

# ModelSim files
*.ver
*.wlf
*.sym
*.vstf
_info
_vmake
transcript

# Quartus files
*~
*.vo
*.do
*.qpg
*.qtl
*.qws
*.gdb
*.map
*.rpt
*.sof
*.spd
*.rbf
*.bsf
*.cmp
*.qip
*.pin
*.ocp
*.svd
*.qgsimc
*.regmap
*.summary
*.qgsynthc
*.sopcinfo
**/db/*
**/qdb/*
**/.qsys_edit/*
**/output_files/*
**/hps_isw_handoff/*
**/tmp-clearbox/*
**/incremental_db/*

# Binary files
*.hex
*.dat
*.pdf
*.png
*.bin
*.doc
*.docx
*.html

# Misc files
*.csv
*.ini
*.xml
*.log
*.bak
*.BAK*
*.done
*.setup
*.stackdump

# Build directories
**/build*/**
